{"swagger":"2.0","info":{"title":"Quatrix API","description":"File Transfer And Sharing API","version":"1.0.0"},"host":"api.quatrix.it","schemes":["https"],"consumes":["application/json"],"basePath":"/api/1.0","produces":["application/json"],"securityDefinitions":{"api_key":{"type":"apiKey","name":"X-Auth-Token","in":"header"},"basicAuth":{"type":"basic","description":"HTTP Basic Authentication. Works over `HTTP` and `HTTPS`."}},"security":[{"api_key":[]}],"tags":[{"name":"Auth","description":"Authenticating to Quatrix account"},{"name":"Account","description":"Getting general information about Quatrix account"},{"name":"Language","description":"Getting information about account language"},{"name":"Contact","description":"Creating and managing Personal and Site contacts"},{"name":"PGP","description":"Setting and managing PGP keys"},{"name":"Group","description":"Getting information about users and contacts"},{"name":"File","description":"Retrieving and modifying of file(s)"},{"name":"Upload","description":"File(s) uploading"},{"name":"Password Reset","description":"Setting/Resetting of Password"},{"name":"Preview","description":"Previewing of Photo(s)/Video(s)/File(s)"},{"name":"Profile","description":"Editing your profile information"},{"name":"MFA","description":"Enabling/disabling MFA"},{"name":"Project Folder","description":"Creating and Managing Project Folders"},{"name":"Site Settings","description":"Managing service settings"},{"name":"User","description":"Creating and managing users"},{"name":"Widget","description":"Setting of widget"},{"name":"Share","description":"Creating shares / Quick links / Request file(s) links"},{"name":"ActivityLog","description":"Tracking all activities"},{"name":"Service","description":"Getting information about the service"},{"name":"Automation","description":"Setting and modifying automatic rules"},{"name":"Inbox","description":"Information about folders of your contacts"},{"name":"SSH-Key","description":"Retrieving and modifying of SSH-keys"},{"name":"Billing","description":"Upgrading the account"},{"name":"Check","description":"API status checks"},{"name":"WOPI","description":"Calls for Office Online integration"}],"paths":{"/session/login":{"get":{"security":[{"basicAuth":[]}],"summary":"Login and get session ID","description":"Basic Authentication with the Authorization header\nThe Authorization header is constructed as follows\n  1. The user email and password are combined with a single colon. (:)\n  2. The resulting string is encoded using a variant of Base64.\n  3. The authorization method and a space is then prepended to the encoded string, separated with a space (e.g. \"Basic \").\n  For example, 'test@example.com' as the user email and 'qwerty' as the password, then the field's value is the\n  base64-encoding of test@example.com:qwerty, or dGVzdEBleGFtcGxlLmNvbTpxd2VydHk=.\n  Then the Authorization header will appear as\n  'Authorization: Basic dGVzdEBleGFtcGxlLmNvbTpxd2VydHk='\n","tags":["Auth"],"responses":{"200":{"description":"Login success response","schema":{"$ref":"#/definitions/SessionLoginResp"}},"207":{"description":"MFA required","schema":{"$ref":"#/definitions/SessionLoginResp"},"headers":{"Mfa-Code":{"type":"number","description":"MFA code","enum":[61,71,73]}}},"401":{"$ref":"#/responses/Unauthorized"}}},"post":{"summary":"MFA","description":"Login with MFA\n","tags":["Auth","MFA"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"SessionLoginPostResp","type":"object","required":["auth_type","code"],"properties":{"auth_type":{"type":"string","enum":["2FA","PIN"]},"code":{"type":"string","format":"base64","description":"Auth code for MFA"}}}}],"responses":{"200":{"description":"Login success response","schema":{"$ref":"#/definitions/SessionLoginResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/session/keepalive":{"get":{"summary":"Keepalive","description":"Keep alive current session\n","tags":["Auth"],"responses":{"200":{"description":"Keepalive success response"},"401":{"$ref":"#/responses/Unauthorized"}}}},"/session/logout":{"get":{"summary":"Logout","description":"Logout of current session\n","tags":["Auth"],"responses":{"200":{"description":"Logout success response"}}}},"/session/unblock-captcha":{"post":{"summary":"Unblock captcha","description":"Unblock captcha\n","tags":["Auth"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"UnblockCaptchaReq","type":"object","required":["token"],"properties":{"token":{"type":"string"}}}}],"responses":{"200":{"description":"Captcha is passed successfully","schema":{"$ref":"#/definitions/SessionUnblockCaptchaResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"description":"Captcha is wrong","schema":{"$ref":"#/definitions/SessionUnblockCaptchaResp"}}}}},"/account/metadata":{"get":{"security":[],"summary":"Account metadata","description":"Get Account Public Metadata\n","tags":["Account"],"responses":{"200":{"description":"Account metadata","schema":{"title":"AccountMetadataResp","type":"object","properties":{"status":{"type":"string"},"title":{"type":"string"},"language":{"type":"string"},"default_logo":{"type":"boolean"}}}}}}},"/account/roles":{"get":{"summary":"Account roles","description":"List account roles\n","tags":["Account"],"responses":{"200":{"description":"List of account roles","schema":{"title":"AccountRolesResp","type":"array","items":{"title":"AccountRolesRespItems","type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string","format":"email"},"name":{"type":"string"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/account/logo":{"get":{"security":[],"summary":"Account logo","description":"Returns account logo body\n","tags":["Account"],"responses":{"200":{"description":"Logo body"}}}},"/account/info":{"get":{"summary":"Account info","description":"Account usage info\n","tags":["Account"],"responses":{"200":{"description":"Account info","schema":{"title":"AccountInfoResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"key":{"type":"string"},"base":{"type":"boolean"},"properties":{"type":"object","format":"json","description":"account service properties json"},"server_location":{"type":"string"}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/account/list":{"get":{"summary":"List user accounts","description":"List user accounts\n","tags":["Account"],"responses":{"200":{"description":"Account list","schema":{"title":"AccountListResp","type":"array","items":{"title":"AccountListRespItems","type":"object","properties":{"id":{"type":"string"},"hostname":{"type":"string"},"plan":{"type":"string"},"status":{"type":"string"},"current":{"type":"boolean","description":"true if logged in to this account"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/languages":{"get":{"summary":"List languages","description":"List languages\n","tags":["Language"],"responses":{"200":{"description":"Languages list","schema":{"title":"LanguagesResp","type":"array","items":{"title":"LanguagesRespItems","type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"filename":{"type":"string"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/languages/default":{"get":{"security":[],"summary":"Default language","description":"Get default language\n","tags":["Language"],"responses":{"200":{"description":"Default language id","schema":{"title":"LanguagesDefaultResp","type":"object","properties":{"id":{"type":"string"}}}}}}},"/contact":{"get":{"summary":"List user contacts","description":"List user contacts\n","tags":["Contact"],"responses":{"200":{"description":"Contact list","schema":{"type":"array","items":{"$ref":"#/definitions/ContactResp"}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/contact/metadata/{id}":{"get":{"summary":"Contact metadata","description":"Get contact metadata\n","tags":["Contact"],"parameters":[{"$ref":"#/parameters/ContactID"}],"responses":{"200":{"description":"Contact metadata","schema":{"$ref":"#/definitions/ContactResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/contact/create":{"post":{"summary":"Create contact","description":"Create new contact\n","tags":["Contact"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"ContactCreateReq","type":"object","required":["name","email"],"properties":{"name":{"type":"string","minLength":1,"maxLength":511},"email":{"type":"string","description":"valid email","minLength":6,"maxLength":254},"personal":{"type":"boolean","description":"should be 'true' for personal contact"},"groups":{"type":"array","description":"Group IDs. Could be omitted for site contact.","items":{"type":"string","format":"uuid"}}}}}],"responses":{"201":{"description":"Contact metadata","schema":{"$ref":"#/definitions/ContactResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"msg":"Email is already taken","code":32}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/contact/edit/{id}":{"post":{"summary":"Contact metadata","description":"Get contact metadata\n","tags":["Contact"],"parameters":[{"$ref":"#/parameters/ContactID"},{"in":"body","name":"body","schema":{"title":"ContactEditResp","type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":511},"email":{"type":"string","description":"valid email","minLength":6,"maxLength":254},"personal":{"type":"boolean","description":"should be 'true' for personal contact"},"groups":{"type":"array","description":"Group IDs. Could be omitted for site contact.","items":{"type":"string","format":"uuid"}}}}}],"responses":{"200":{"description":"Contact metadata","schema":{"$ref":"#/definitions/ContactResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/contact/delete":{"post":{"summary":"Delete contact","description":"Delete contact\n","tags":["Contact"],"parameters":[{"name":"body","in":"body","description":"IDs of a contacts","required":true,"schema":{"$ref":"#/definitions/IdsReq"}}],"responses":{"200":{"description":"Contact ids","schema":{"title":"ContactDeleteResp","type":"array","items":{"title":"ContactDeleteRespItems","type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/contact/upgrade/{id}":{"get":{"summary":"Upgrade contact","description":"Upgrade contact to user\n","tags":["Contact"],"parameters":[{"$ref":"#/parameters/ContactID"}],"responses":{"200":{"description":"User metadata","schema":{"$ref":"#/definitions/UserResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/contact/pgp-key/{id}":{"get":{"summary":"Contact PGP key","description":"Get contact PGP key. Not used.\n","parameters":[{"$ref":"#/parameters/ContactID"}],"tags":["Contact","PGP"],"responses":{"200":{"description":"PGP key metadata object","schema":{"$ref":"#/definitions/PGPKeyResp"}},"401":{"$ref":"#/responses/Unauthorized"},"403":{"description":"PGP managment is disabled","schema":{"$ref":"#/definitions/ErrorModel"}},"404":{"description":"Contact doesn't have a PGP key","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/contact/group":{"get":{"summary":"All contact groups","description":"List all contact groups\n","tags":["Contact","Group"],"responses":{"200":{"description":"Contact groups metadata object","schema":{"title":"ContactGroupResp","type":"array","items":{"title":"ContactGroupRespItems","type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"global":{"type":"boolean"},"readonly":{"type":"boolean"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/metadata":{"get":{"summary":"Get all file metadata","description":"Get all file metadata in current user home folder\n","parameters":[{"$ref":"#/parameters/FileContentFlag"}],"tags":["File"],"responses":{"200":{"description":"File metadata object","schema":{"$ref":"#/definitions/FileMetadataGetResp"}},"401":{"$ref":"#/responses/Unauthorized"}}},"post":{"summary":"Set file metadata","description":"Set file metadata\n","parameters":[{"name":"body","in":"body","required":true,"schema":{"title":"FileMetadataPostReq","type":"object","required":["id"],"properties":{"id":{"type":"string","format":"uuid"},"mtime":{"type":"number","format":"timestamp"}}}}],"tags":["File"],"responses":{"200":{"description":"File metadata","schema":{"title":"FileMetadataPostResp","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"File ID"},"parent_id":{"type":"string","format":"uuid","description":"File parent ID"},"name":{"type":"string","description":"File name"},"created":{"type":"number","description":"File creation timestamp"},"modified":{"type":"number","description":"File modification timestamp"},"modified_ms":{"type":"number","format":"timestamp","description":"File modification timestamp with microseconds"},"size":{"type":"number","format":"int","description":"File size in bytes"},"type":{"type":"string","description":"File type"},"gid":{"type":"number","format":"int","description":"Unix group id"},"uid":{"type":"number","format":"int","description":"Unix user id"},"metadata":{"type":"object","format":"json","description":"File metadata json"},"operations":{"type":"number","format":"int","description":"File operations bitmask"}}}}}}},"/file/metadata/{id}":{"get":{"summary":"Get file metadata","description":"Get file metadata\n","parameters":[{"$ref":"#/parameters/FileID"},{"$ref":"#/parameters/FileContentFlag"}],"tags":["File"],"responses":{"200":{"description":"File metadata object","schema":{"$ref":"#/definitions/FileMetadataGetResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/info/{id}":{"get":{"summary":"Get file info","description":"Get file info\n","parameters":[{"$ref":"#/parameters/FileID"}],"tags":["File"],"responses":{"200":{"description":"File info object","schema":{"title":"FileInfoResp","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"File ID"},"created":{"type":"number","description":"File creation timestamp"},"modified":{"type":"number","description":"File modification timestamp"},"content_modified":{"type":"number","description":"File content modification timestamp"},"name":{"type":"string","description":"File name"},"size":{"type":"number","format":"int","description":"File size in bytes"},"type":{"type":"string","description":"File type"},"file_owner":{"type":"object","format":"json","description":"Owner of Folder/File"},"action_role":{"type":"object","format":"json","description":"Role that created/uploaded Folder/File"},"paths":{"type":"object","format":"json","description":"Path and Type of path to File"}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/wopi-token/{id}":{"get":{"tags":["File","WOPI"],"summary":"Get wopi token for file","description":"Get wopi token for file\n","parameters":[{"$ref":"#/parameters/FileID"}],"responses":{"200":{"description":"ID of a wopi token","schema":{"$ref":"#/definitions/IdResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/copy":{"post":{"summary":"Copy files","description":"Copy files\n","parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CopyMoveFilesReq"}}],"tags":["File"],"responses":{"202":{"description":"Job response object","schema":{"$ref":"#/definitions/JobResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/delete":{"post":{"summary":"Delete files","description":"Delete number of files\n","parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/IdsReq"}}],"tags":["File"],"responses":{"200":{"description":"File ids if requested ids <= 10","schema":{"$ref":"#/definitions/IdsResp"}},"202":{"description":"Job response object if requested ids > 10","schema":{"$ref":"#/definitions/JobResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/move":{"post":{"summary":"Move files","description":"Move files\n","parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CopyMoveFilesReq"}}],"tags":["File"],"responses":{"200":{"description":"File ids if requested ids <= 10","schema":{"$ref":"#/definitions/IdsResp"}},"202":{"description":"Job response object if requested ids > 10","schema":{"$ref":"#/definitions/JobResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/makedir":{"post":{"summary":"Create new folder","description":"Create new folder\n","parameters":[{"name":"body","in":"body","required":true,"schema":{"title":"MakeDirReq","type":"object","properties":{"target":{"type":"string","format":"uuid"},"name":{"type":"string","format":"filename"},"resolve":{"type":"boolean","default":true}}}}],"tags":["File"],"responses":{"201":{"description":"File metadata object","schema":{"$ref":"#/definitions/FileResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/rename/{id}":{"post":{"summary":"Rename file or folder","description":"Rename file or folder\n","parameters":[{"$ref":"#/parameters/FileID"},{"name":"body","in":"body","required":true,"schema":{"title":"FileRenameReq","type":"object","properties":{"name":{"type":"string","format":"filename"},"resolve":{"type":"boolean","default":true}}}}],"tags":["File"],"responses":{"200":{"description":"File metadata object","schema":{"title":"FileRenameResp","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"File ID"},"created":{"type":"number","description":"File creation timestamp"},"modified":{"type":"number","description":"File modification timestamp"},"name":{"type":"string","description":"File name"},"parent_id":{"type":"string","format":"uuid","description":"File parent ID"},"size":{"type":"number","format":"int","description":"File size in bytes"},"type":{"type":"string","description":"File type"},"metadata":{"type":"object","format":"json","description":"File metadata json"},"operations":{"type":"number","format":"int","description":"File operations bitmask"},"old_name":{"type":"string","description":"File name before rename"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/tags/{id}":{"get":{"summary":"File tags","description":"List file tags\n","parameters":[{"$ref":"#/parameters/FileID"}],"tags":["File"],"responses":{"200":{"description":"List of file tags","schema":{"type":"array","items":{"$ref":"#/definitions/FileTagResp"}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/add-tag/{id}":{"post":{"summary":"Add file tag","description":"Add tag to file\n","parameters":[{"$ref":"#/parameters/FileID"},{"name":"body","in":"body","required":true,"schema":{"title":"FileAddTagReq","type":"object","properties":{"type":{"type":"string"},"value":{"type":"string"}}}}],"tags":["File"],"responses":{"200":{"description":"File tag","schema":{"$ref":"#/definitions/FileTagResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/download-link":{"post":{"summary":"Get download link","description":"Get files download link\n","parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/IdsReq"}}],"tags":["File"],"responses":{"200":{"description":"Download link id","schema":{"$ref":"#/definitions/IdResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/download/{id}":{"get":{"produces":["application/octet-stream"],"summary":"Download file","description":"Download file content\n","parameters":[{"$ref":"#/parameters/FileID"}],"tags":["File"],"responses":{"200":{"description":"File content"},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/search":{"post":{"summary":"Search files","description":"Search files\n","parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/SearchReq"}}],"tags":["File"],"responses":{"200":{"description":"Files list","schema":{"type":"array","items":{"$ref":"#/definitions/FileResp"}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/preview/{id}":{"get":{"summary":"File preview","description":"Get file preview metadata\n","parameters":[{"$ref":"#/parameters/FileID"}],"tags":["File"],"responses":{"200":{"description":"Preview metadata","schema":{"title":"FilePreviewResp","type":"object","properties":{"type":{"type":"string","enum":["image","video","document"]},"source":{"type":"string"},"source_pdf":{"type":"string"}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/diff/{id}":{"get":{"summary":"File diff","description":"Get file changes diff\n","parameters":[{"$ref":"#/parameters/FileID"},{"name":"from","in":"query","required":true,"type":"number"},{"name":"to","in":"query","required":false,"type":"number"}],"tags":["File"],"responses":{"200":{"description":"File diffs list","schema":{"title":"FileDiffResp","type":"object","properties":{"from":{"type":"number"},"to":{"type":"number"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"action":{"type":"string"},"parent_id":{"type":"string","format":"uuid"},"name":{"type":"string"},"type":{"type":"string"},"size":{"type":"number","format":"int64"},"modified":{"type":"number"},"operations":{"type":"number","format":"int"},"metadata":{"type":"object"}}}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/file/modify":{"post":{"summary":"Get file modify link","description":"Get file modify link\n","tags":["File","Upload"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"FileModifyReq","type":"object","required":["id"],"properties":{"id":{"type":"string","format":"uuid"},"truncate":{"type":"number","format":"integer"},"name":{"type":"string","format":"filename"}}}}],"responses":{"200":{"description":"Modify link metadata","schema":{"title":"FileModifyResp","type":"object","properties":{"name":{"type":"string"},"file_id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"upload_key":{"type":"string","format":"uuid"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/group":{"get":{"summary":"List user groups","description":"List user groups\n","tags":["Group"],"responses":{"200":{"description":"Group list","schema":{"type":"array","items":{"$ref":"#/definitions/GroupResp"}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/group/metadata/{id}":{"get":{"summary":"Group metadata","description":"Get group metadata\n","tags":["Group"],"parameters":[{"in":"path","name":"id","description":"ID of a group","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Group metadata","schema":{"$ref":"#/definitions/GroupResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/pgp-key/recipients":{"post":{"summary":"Recipients PGP keys","description":"Get public PGP keys for given recipients\n","tags":["PGP"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/IdsReq"}}],"responses":{"200":{"description":"PGP keys list","schema":{"title":"PGPKeyRecipientsResp","type":"array","items":{"title":"PGPKeyRecipientsRespItems","type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"created":{"type":"integer","format":"timestamp"},"modified":{"type":"integer","format":"timestamp"},"public":{"type":"string","format":"base64"},"recipient_id":{"type":"string","format":"uuid"},"email":{"type":"string","format":"email"}}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/pgp-key/metadata/{id}":{"get":{"summary":"PGP key metadata","description":"Get PGP key metadata\n","tags":["PGP"],"parameters":[{"in":"path","name":"id","description":"ID of a PGP key","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"PGP key metadata","schema":{"$ref":"#/definitions/PGPKeyResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/pgp-key/create":{"post":{"summary":"Create PGP key","description":"Create new PGP key\n","tags":["PGP"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"PGPCreateReq","type":"object","required":["name","public"],"properties":{"name":{"type":"string"},"public":{"type":"string"},"private":{"type":"string"}}}}],"responses":{"201":{"description":"PGP key metadata","schema":{"$ref":"#/definitions/PGPKeyResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/pgp-key/edit/{id}":{"post":{"summary":"Edit PGP key","description":"Edit PGP key\n","tags":["PGP"],"parameters":[{"in":"path","name":"id","description":"ID of a PGP key","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"title":"PGPEditReq","type":"object","properties":{"name":{"type":"string"},"public":{"type":"string"},"private":{"type":"string"}}}}],"responses":{"200":{"description":"PGP key metadata","schema":{"$ref":"#/definitions/PGPKeyResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/pgp-key/delete/{id}":{"get":{"summary":"Delete PGP key","description":"Delete PGP key\n","tags":["PGP"],"parameters":[{"in":"path","name":"id","description":"ID of a PGP key","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"PGP key id","schema":{"$ref":"#/definitions/IdResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/pgp-key/request/{ids[]}":{"get":{"summary":"Request PGP key","description":"Send request PGP key email to user or contact\n","tags":["PGP"],"parameters":[{"in":"path","name":"ids[]","description":"ID of contact","required":true,"type":"string","format":"uuid"}],"responses":{"202":{"description":"Job response object","schema":{"$ref":"#/definitions/JobResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/key-request/metadata/{id}":{"get":{"summary":"PGP key request metadata","description":"Get PGP key request metadata\n","tags":["PGP"],"parameters":[{"in":"path","name":"id","description":"ID of the PGP key request","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"PGP key request metadata","schema":{"title":"KeyRequestMetadataResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"sender_name":{"type":"string"},"sender_email":{"type":"string"},"user_name":{"type":"string"},"user_email":{"type":"string"},"locale":{"type":"string"},"is_contact":{"type":"boolean"}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/key-request/respond/{id}":{"post":{"summary":"Respond to PGP key request","description":"Respond to PGP key request with PGP key\n","tags":["PGP"],"parameters":[{"in":"path","name":"id","description":"ID of a PGP key request","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":true,"schema":{"title":"KeyRequestRespondReq","type":"object","required":["name","public"],"properties":{"name":{"type":"string"},"public":{"type":"string"},"private":{"type":"string"}}}}],"responses":{"202":{"description":"Job response object","schema":{"$ref":"#/definitions/JobResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/reset-password/request":{"post":{"security":[],"summary":"Request password reset","description":"Send request password reset email\n","tags":["Password Reset"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"ResetPasswordRequestReq","type":"object","required":["email"],"properties":{"email":{"type":"array","items":{"type":"string"}}}}}],"responses":{"200":{"description":"Response object for anonymous user","schema":{"title":"ResetPasswordRequestResp","type":"object","properties":{"email":{"type":"array","items":{"type":"string"}}}}},"202":{"description":"Job response object for authorized user","schema":{"$ref":"#/definitions/JobResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/reset-password/metadata/{id}":{"get":{"summary":"Password reset request metadata","description":"Get password reset request metadata\n","tags":["Password Reset"],"parameters":[{"in":"path","name":"id","description":"ID of the password reset request","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Password reset request id","schema":{"title":"ResetPasswordMetadataResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"multiple_accounts":{"type":"boolean"}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/reset-password/reset/{id}":{"post":{"summary":"Reset password","description":"Reset password\n","tags":["Password Reset"],"parameters":[{"in":"path","name":"id","description":"ID of a password reset request","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":true,"schema":{"title":"ResetPasswordResetReq","type":"object","required":["password"],"properties":{"password":{"type":"string"}}}}],"responses":{"200":{"description":"Password reset request id","schema":{"$ref":"#/definitions/IdResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/preview/image/{id}":{"get":{"produces":["image/png"],"summary":"File image preview","description":"Get file image preview\n","parameters":[{"name":"id","in":"path","description":"File ID","required":true,"type":"string","format":"uuid"},{"name":"size","in":"query","required":false,"type":"string","enum":["small","large"]}],"tags":["Preview"],"responses":{"200":{"description":"Image content"},"401":{"$ref":"#/responses/Unauthorized"}}}},"/preview/video/{id}":{"get":{"produces":["image/mp4"],"summary":"File video preview","description":"Get file video preview\n","parameters":[{"name":"id","in":"path","description":"File ID","required":true,"type":"string","format":"uuid"}],"tags":["Preview"],"responses":{"200":{"description":"Video content"},"401":{"$ref":"#/responses/Unauthorized"}}}},"/preview/document_pdf/{id}":{"get":{"produces":["image/png"],"summary":"File document page preview","description":"Get file document page preview\n","parameters":[{"name":"id","in":"path","description":"File document preview page ID","required":true,"type":"string","format":"uuid"}],"tags":["Preview"],"responses":{"200":{"description":"PDF content"},"401":{"$ref":"#/responses/Unauthorized"}}}},"/profile":{"get":{"summary":"Profile metadata","description":"Get profile metadata\n","tags":["Profile"],"responses":{"200":{"description":"Profile metadata","schema":{"title":"ProfileResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"super_admin":{"type":"string"},"home_id":{"type":"string","format":"uuid"},"operations":{"type":"number","format":"integer"},"max_file_size":{"type":"number","format":"integer"},"max_files_per_share":{"type":"number","format":"integer"},"plan":{"type":"string"},"is_contact":{"type":"boolean"},"language":{"type":"string"},"channel_id":{"type":"string","format":"uuid"},"account_id":{"type":"string","format":"uuid"},"storage_id":{"type":"string","format":"uuid"},"created":{"type":"number"},"modified":{"type":"number"},"quota":{"type":"number","format":"integer"},"status":{"type":"string"},"uid":{"type":"number","format":"integer"},"gid":{"type":"number","format":"integer"},"has_key":{"type":"boolean"},"pgp_enabled":{"type":"boolean"},"message_signature":{"type":"string"},"outgoing_id":{"type":"string"},"incoming_id":{"type":"string"},"services":{"type":"array","items":{"$ref":"#/definitions/ShortUserService"}},"share_types":{"type":"object","properties":{"restricted_share":{"type":"string","enum":["Y","N"]},"public_share":{"type":"string","enum":["Y","N"]},"tracked_share":{"type":"string","enum":["Y","N"]}}},"unique_login":{"type":"string"},"auth_methods":{"type":"array","items":{"type":"string"}},"account_status":{"type":"string","enum":["A","S"]},"sftp_url":{"type":"string"},"forced_auth":{"type":"array","items":{"type":"string"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/profile/set":{"post":{"summary":"Update profile metadata","description":"Update profile metadata\n","tags":["Profile"],"parameters":[{"in":"body","name":"body","schema":{"title":"ProfileSetReq","type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"language":{"type":"string"},"message_signature":{"type":"string"}}}}],"responses":{"200":{"description":"Updated profile metadata","schema":{"title":"ProfileSetResp","type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"language":{"type":"string"},"message_signature":{"type":"string"}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/profile/set-password":{"post":{"summary":"Change profile password","description":"Change profile password\n","tags":["Profile"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"ProfileSetPasswordReq","type":"object","required":["password","new_password"],"properties":{"password":{"type":"string","description":"current password in base64"},"new_password":{"type":"string","description":"new password in base64"}}}}],"responses":{"200":{"description":"Change profile password","schema":{"title":"ProfileSetPasswordResp","type":"object","properties":{"email":{"type":"string"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/profile/info":{"get":{"summary":"Additional profile info","description":"Get additional profile info\n","tags":["Profile"],"responses":{"200":{"description":"Profile info","schema":{"title":"ProfileInfoResp","type":"object","properties":{"user_used":{"type":"number","format":"integer"},"user_limit":{"type":"number","format":"integer"},"acc_used":{"type":"number","format":"integer"},"acc_limit":{"type":"number","format":"integer"}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/profile/2fa/generate":{"get":{"summary":"Generate new 2fa code","description":"Generate new 2fa code QR code\n","tags":["Profile"],"responses":{"200":{"description":"Image in base64 with QR code"},"401":{"$ref":"#/responses/Unauthorized"}}}},"/profile/set-mfa":{"post":{"summary":"Set MFA enabled for account","description":"Set multi factor autorization method (MFA) enabled for account\n","tags":["Profile","MFA"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"ProfileSetMFAReq","type":"object","required":["auth_type","code"],"properties":{"auth_type":{"type":"string","enum":["2FA","PIN"]},"code":{"type":"string","format":"base64","description":"Auth code for MFA"}}}}],"responses":{"200":{"description":"IDs of closed sessions","schema":{"title":"ProfileSetMFAResp","type":"object","properties":{"session_ids":{"type":"string","format":"uuid"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/profile/remove-mfa":{"post":{"summary":"Remove MFA for account","description":"Remove MFA for account if it was not forced by admin\n","tags":["Profile","MFA"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"ProfileRemoveMFAReq","type":"object","required":["auth_type"],"properties":{"auth_type":{"type":"string","enum":["2FA","PIN"]}}}}],"responses":{"200":{"description":"success response","schema":{"title":"ProfileRemoveMFAResp","type":"object","properties":{"status":{"type":"string","description":"Action status","enum":["success"]}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/project-folder/create":{"post":{"summary":"Create project folder","description":"Create new project folder\n","tags":["Project Folder"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"PFCreateReq","type":"object","required":["name","file_id","users_permissions"],"properties":{"created":{"type":"number"},"name":{"type":"string"},"file_id":{"type":"string","format":"uuid"},"users_permissions":{"type":"array","items":{"$ref":"#/definitions/UserPermissionReq"}},"notify":{"type":"boolean","default":false}}}}],"responses":{"201":{"description":"Project Folder","schema":{"title":"PFCreateResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/project-folder/users/{id}":{"get":{"summary":"List project folder users","description":"List project folder users\n","tags":["Project Folder"],"parameters":[{"in":"path","name":"id","required":true,"type":"string","format":"uuid","description":"project folder ID"}],"responses":{"200":{"description":"Project Folder Users List","schema":{"title":"PFUsersResp","type":"array","items":{"$ref":"#/definitions/UserPermissionResp"}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/project-folder/metadata/{id}":{"get":{"summary":"Project folder metadata","description":"Project folder metadata\n","tags":["Project Folder"],"parameters":[{"in":"path","name":"id","required":true,"type":"string","format":"uuid","description":"project folder ID"}],"responses":{"200":{"description":"Project folder metadata","schema":{"title":"PFMetadataResp","type":"object","properties":{"folder_name":{"type":"string","format":"text"},"created":{"type":"number"},"creator":{"type":"object","format":"json"},"users":{"type":"array","items":{"$ref":"#/definitions/UserPermissionResp"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/project-folder/add-users/{id}":{"post":{"summary":"Add project folder users","description":"Add project folder users\n","tags":["Project Folder"],"parameters":[{"in":"path","name":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":true,"schema":{"title":"PFAddUsersReq","type":"object","required":["users_permissions"],"properties":{"users_permissions":{"type":"array","items":{"$ref":"#/definitions/UserPermissionReq"}}}}}],"responses":{"200":{"description":"Project Folder Users List","schema":{"title":"PFAddUsersResp","type":"array","items":{"$ref":"#/definitions/UserPermissionResp"}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/project-folder/edit-users/{id}":{"post":{"summary":"Update project folder users","description":"Update project folder users\n","tags":["Project Folder"],"parameters":[{"in":"path","name":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":true,"schema":{"title":"PFEditUsersReq","type":"object","required":["users_permissions"],"properties":{"users_permissions":{"type":"array","items":{"$ref":"#/definitions/UserPermissionReq"}},"notify":{"type":"boolean","default":false}}}}],"responses":{"200":{"description":"Project Folder Users List","schema":{"title":"PFEditUsersResp","type":"array","items":{"$ref":"#/definitions/UserPermissionResp"}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/project-folder/delete-users/{id}":{"post":{"summary":"Remove project folder users","description":"Remove project folder users\n","tags":["Project Folder"],"parameters":[{"in":"path","name":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":true,"schema":{"title":"PFDeleteUsersReq","type":"object","required":["users"],"properties":{"users":{"type":"array","items":{"type":"string","format":"uuid"}}}}}],"responses":{"200":{"description":"Project Folder Users IDs","schema":{"title":"PFDeleteUsersResp","type":"array","items":{"title":"PFDeleteUsersRespItems","type":"object","properties":{"user_id":{"type":"string","format":"uuid"}}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/project-folder/delete/{id}":{"get":{"summary":"Remove project folder","description":"Remove project folder\n","tags":["Project Folder"],"parameters":[{"in":"path","name":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Project Folder","schema":{"$ref":"#/definitions/IdResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/settings":{"get":{"summary":"Get site settings","description":"Get site settings\n","tags":["Site Settings"],"responses":{"200":{"description":"Site Settings","schema":{"$ref":"#/definitions/SettingsResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/settings/set":{"post":{"summary":"Set site settings","description":"Set site settings\n","tags":["Site Settings"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"SettingsSetReq","type":"object","properties":{"title":{"type":"string"},"bcc":{"type":"array","items":{"type":"string"}},"billing_emails":{"type":"array","items":{"type":"string"}},"email_footer":{"type":"string"},"language":{"type":"string"},"enable_pgp":{"type":"boolean"},"virus_scan":{"type":"boolean"},"share_types":{"type":"object"},"auth_methods":{"type":"array","items":{"type":"string"}}}}}],"responses":{"200":{"description":"Site Settings","schema":{"$ref":"#/definitions/SettingsResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/settings/upload-logo-link":{"get":{"summary":"Get logo upload link","description":"Get account logo upload link\n","tags":["Site Settings","Upload"],"responses":{"200":{"description":"Upload logo link id","schema":{"title":"SettingsUploadLogoLinkResp","type":"object","properties":{"upload_key":{"type":"string","format":"uuid"}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/settings/auth-methods":{"get":{"summary":"Get account auth-methods settings","description":"Get account auth-methods settings\n","tags":["Site Settings"],"responses":{"200":{"description":"Account auth-methods settings","schema":{"title":"SettingsAuthMethodsResp","type":"array","items":{"title":"SettingsAuthMethodsRespItems","type":"object","properties":{"rank":{"type":"integer"},"id":{"type":"string","format":"uuid"},"key":{"type":"string"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/upload/link":{"post":{"summary":"Get file upload link","description":"Get file upload link\n","tags":["Upload"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"UploadLinkReq","type":"object","required":["name","parent_id"],"properties":{"name":{"type":"string","format":"filename"},"parent_id":{"type":"string","format":"uuid","description":"File parent ID"},"resolve":{"type":"boolean","default":true},"file_size":{"type":"number"}}}}],"responses":{"200":{"description":"Upload link metadata","schema":{"title":"UploadLinkResp","type":"object","properties":{"name":{"type":"string"},"file_id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"upload_key":{"type":"string","format":"uuid"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/upload/finalize/{id}":{"get":{"summary":"Finalize chunked file upload","description":"Finalize chunked file upload\n","tags":["Upload"],"parameters":[{"in":"path","name":"id","required":true,"type":"string","format":"uuid","description":"Upload key"},{"in":"query","name":"mtime","required":false,"type":"number","format":"timestamp","description":"File modification timestamp"}],"responses":{"200":{"description":"Upload link metadata","schema":{"title":"UploadFinalizeResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"size":{"type":"number","format":"integer"},"modified":{"type":"number","format":"timestamp","description":"File modification timestamp"}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/user":{"get":{"summary":"List users","description":"List users\n","tags":["User"],"responses":{"200":{"description":"Users list","schema":{"type":"array","items":{"$ref":"#/definitions/UserResp"}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/user/metadata/{id}":{"get":{"summary":"User metadata","description":"Get user metadata\n","tags":["User"],"parameters":[{"in":"path","name":"id","description":"ID of a user","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"User metadata","schema":{"$ref":"#/definitions/UserResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/user/create":{"post":{"summary":"Create user","description":"Create new user\n","tags":["User"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"UserCreateReq","type":"object","required":["name","email"],"properties":{"name":{"type":"string"},"email":{"type":"string"},"parent_id":{"type":"string","format":"uuid"},"quota":{"type":"number","format":"integer","default":-1},"status":{"type":"string","enum":["A","D"]},"super_admin":{"type":"string","enum":["Y","N"]},"home_id":{"type":"string","format":"uuid"},"user_operations":{"type":"number","format":"integer"},"home_operations":{"type":"number","format":"integer"},"language":{"type":"string"},"groups":{"type":"array","items":{"type":"string","format":"uuid"}},"services":{"type":"array","items":{"type":"string","format":"uuid"}}}}}],"responses":{"201":{"description":"User metadata","schema":{"$ref":"#/definitions/UserResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"msg":"Email is already taken","code":31}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/user/edit":{"post":{"summary":"User metadata","description":"Edit user\n","tags":["User"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"UserEditReq","type":"object","required":["ids"],"properties":{"ids":{"type":"array","items":{"type":"string","format":"uuid"}},"name":{"type":"string"},"email":{"type":"string"},"parent_id":{"type":"string","format":"uuid"},"quota":{"type":"number","format":"integer","default":-1},"status":{"type":"string","enum":["A","D"]},"super_admin":{"type":"string","enum":["Y","N"]},"home_id":{"type":"string","format":"uuid"},"user_operations":{"type":"number","format":"integer"},"home_operations":{"type":"number","format":"integer"},"language":{"type":"string"},"groups":{"type":"array","items":{"type":"string","format":"uuid"}},"services":{"type":"array","items":{"type":"string","format":"uuid"}}}}}],"responses":{"200":{"description":"User metadata","schema":{"title":"UserEditResp","type":"array","items":{"$ref":"#/definitions/UserResp"}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/user/delete":{"post":{"summary":"Delete users","description":"Delete users\n","tags":["User"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"UserDeleteReq","type":"object","required":["ids"],"properties":{"ids":{"type":"array","items":{"type":"string","format":"uuid"}},"delete_home":{"type":"boolean"}}}}],"responses":{"202":{"description":"Job response object","schema":{"$ref":"#/definitions/JobResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/user/pgp-key/{id}":{"get":{"summary":"User PGP key","description":"Get user PGP key\n","parameters":[{"name":"id","in":"path","description":"ID of a user","required":true,"type":"string","format":"uuid"}],"tags":["User","PGP"],"responses":{"200":{"description":"PGP key metadata object","schema":{"$ref":"#/definitions/PGPKeyResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/user/group":{"get":{"summary":"All user groups","description":"List all user groups\n","tags":["User","Group"],"responses":{"200":{"description":"Groups list","schema":{"title":"UserGroupResp","type":"array","items":{"$ref":"#/definitions/Group"}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/user/signup":{"post":{"security":[],"summary":"Signup existing user","description":"Signup existing user\n","tags":["User"],"produces":["raw"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"UserSignupReq","type":"object","required":["email","password"],"properties":{"email":{"type":"string"},"password":{"type":"string","format":"base64"}}}}],"responses":{"200":{"description":"Successful signup"},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"msg":"Email is already taken","code":31}}}}},"/user/set-mfa":{"post":{"summary":"Set MFA enabled for user","description":"Set multi factor autorization method (MFA) enabled for user\n","tags":["User","MFA"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"UserSetMFAReq","type":"object","required":["ids","auth_type","code"],"properties":{"ids":{"type":"array","items":{"type":"string","format":"uuid"}},"auth_type":{"type":"string","enum":["2FA","PIN"]},"code":{"type":"string","format":"base64","description":"Auth code for MFA"}}}}],"responses":{"200":{"description":"success response","schema":{"title":"UserSetMFAResp","type":"object","properties":{"status":{"type":"string","description":"Action status","enum":["success"]}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/user/remove-mfa":{"post":{"summary":"Remove MFA for user","description":"Remove MFA for user\n","tags":["User","MFA"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"UserRemoveMFAReq","type":"object","required":["ids","auth_type"],"properties":{"ids":{"type":"array","items":{"type":"string","format":"uuid"}},"auth_type":{"type":"string","enum":["2FA","PIN"]}}}}],"responses":{"200":{"description":"success response","schema":{"title":"UserRemoveMFAResp","type":"object","properties":{"status":{"type":"string","description":"Action status","enum":["success"]}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/widget/metadata/{id}":{"get":{"security":[],"summary":"Widget metadata","description":"Get widget metadata\n","tags":["Widget"],"parameters":[{"$ref":"#/parameters/WidgetID"}],"responses":{"200":{"description":"Successful signup","schema":{"$ref":"#/definitions/IdResp"}}}}},"/widget/upload-link/{id}":{"post":{"security":[],"summary":"Widget upload link","description":"Get widget upload link\n","tags":["Widget"],"parameters":[{"$ref":"#/parameters/WidgetID"},{"in":"body","name":"body","required":false,"schema":{"title":"WidgetUploadLinkReq","type":"object","properties":{"file_size":{"type":"number"}}}}],"responses":{"200":{"description":"Upload link metadata","schema":{"title":"WidgetUploadLinkResp","type":"object","properties":{"file_id":{"type":"string","format":"uuid"},"file_path":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"role_id":{"type":"string","format":"uuid"}}}}}}},"/widget/finalize-upload/{id}":{"get":{"security":[],"summary":"Finalize widget chunked file upload","description":"Finalize widget chunked file upload\n","tags":["Widget"],"parameters":[{"$ref":"#/parameters/WidgetID"}],"responses":{"200":{"description":"Upload link metadata","schema":{"title":"WidgetFinalizeUploadResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"size":{"type":"number","format":"integer"}}}}}}},"/share/recipients":{"get":{"summary":"Share recipinets","description":"List share available recipients\n","tags":["Share"],"parameters":[{"name":"email","in":"query","description":"Start of recipient email","required":false,"type":"string"}],"responses":{"200":{"description":"Recipient list","schema":{"title":"ShareRecipientsResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"has_key":{"type":"boolean"}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/share/create":{"post":{"summary":"Create share","description":"Create share\n","tags":["Share"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"ShareCreateReq","type":"object","required":["folder_id","files","contacts"],"properties":{"folder_id":{"type":"string"},"files":{"type":"array","items":{"type":"string","format":"uuid"}},"contacts":{"type":"array","items":{"type":"string","format":"uuid"}},"subject":{"type":"string"},"message":{"type":"string"},"expires":{"type":"number","format":"timestamp"},"activates":{"type":"number","format":"timestamp"},"return_files":{"type":"boolean"},"pgp_encrypted":{"type":"boolean"},"return_pgp_encrypted":{"type":"boolean"},"message_signature":{"type":"string"},"notify":{"type":"boolean"},"share_type":{"type":"string","default":"T","enum":["P","T","C"]},"pin":{"type":"string","format":"base64"},"send_email":{"type":"boolean","description":"create share with sending email or just create share","default":false}}}}],"responses":{"201":{"description":"Share id","schema":{"title":"ShareCreateResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"activates":{"type":"number"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/share/login-pin":{"post":{"summary":"Login with pin on share","description":"Login with pin on share protected with pin\n","tags":["Share"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"ShareLoginPinReq","type":"object","required":["id","pin"],"properties":{"id":{"type":"string","format":"uuid"},"pin":{"type":"string","format":"base64"}}}}],"responses":{"200":{"description":"Logged in with pin successfully"},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/quicklink/create":{"post":{"summary":"Create quicklink","description":"Creating public share with no recipients\n","tags":["Share"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"QuicklinkCreateReq","type":"object","required":["files"],"properties":{"subject":{"type":"string"},"files":{"type":"array","items":{"type":"string","format":"uuid"}},"pin":{"type":"string","format":"base64"}}}}],"responses":{"201":{"description":"Share id, expires","schema":{"title":"QuicklinkCreateResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"expires":{"type":"number","format":"timestamp"},"activates":{"type":"number","format":"timestamp"},"files":{"type":"array","items":{"type":"string","format":"uuid"}}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/quicklink/revoke/{id}":{"get":{"summary":"Revoke quicklink","description":"Revoke quicklink\n","tags":["Share"],"parameters":[{"in":"path","description":"Share action ID","name":"id","type":"string","format":"uuid","required":true}],"responses":{"200":{"description":"Revoked share action ID","schema":{"$ref":"#/definitions/IdResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/quicklink/login-pin":{"post":{"summary":"Login with PIN on quicklink","description":"Login on quicklink protected with PIN\n","tags":["Share"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"QuicklinkLoginPinReq","type":"object","required":["id","pin"],"properties":{"id":{"type":"string","format":"uuid"},"pin":{"type":"string","format":"base64"}}}}],"responses":{"200":{"description":"Logged in with pin successfully"},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/tracking/activity":{"get":{"summary":"Activity log","description":"List activity (action) log. For details - https://dev.maytech.net/wiki/display/ISV3/Activity+Log\n","tags":["ActivityLog"],"parameters":[{"name":"id","in":"query","description":"Log id","required":false,"type":"string","format":"uuid"},{"name":"user_id","in":"query","description":"User id","required":false,"type":"string","format":"uuid"},{"name":"limit","description":"Rows per page","in":"query","required":false,"type":"number","minimum":1,"maximum":1000,"default":100},{"name":"from","description":"UTC timestamp","in":"query","required":false,"type":"number","default":0},{"name":"to","description":"UTC timestamp","in":"query","required":false,"type":"number"}],"responses":{"200":{"description":"Activity log list","schema":{"title":"TrackingActivityResp","type":"array","items":{"title":"TrackingActivityRespItems","type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"user_name":{"type":"string","description":"User name"},"user_status":{"type":"string","enum":["A","D","R"]},"timestamp":{"type":"number","format":"integer"},"protocol":{"type":"string","enum":["web","SFTP"]},"event":{"type":"string","enum":["share","file","files-return"]},"action":{"type":"string","enum":["create","revoke","created-link","sent-email","replied","upload","download","move-rename","delete","makedir"]},"share_status":{"type":"string","enum":["A","D","null"]},"payload":{"type":"object","format":"json","description":"other information(share id, files, etc)"},"duration":{"type":"number","format":"float","description":"duration in seconds"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/tracking/csv":{"get":{"produces":["text/csv"],"summary":"Download CSV file with Activity Log","description":"Download CSV file content with Activity Log. For details - https://dev.maytech.net/wiki/display/ISV3/Activity+Log\n","tags":["ActivityLog"],"parameters":[{"name":"user_id","in":"query","description":"User id","required":false,"type":"string","format":"uuid"},{"name":"from","description":"UTC timestamp","in":"query","required":false,"type":"number"},{"name":"to","description":"UTC timestamp","in":"query","required":false,"type":"number"}],"responses":{"200":{"description":"File content","schema":{"title":"TrackingCSVResp","type":"array","items":{"title":"TrackingCSVRespItems","properties":{"Time":{"type":"string"},"Event":{"type":"string","enum":["share","file","files-return"]},"Action":{"type":"string","enum":["create","revoke","created-link","sent-email","replied","upload","download","move-rename","rename","delete","makedir","copy"]},"Client IPs":{"type":"string"},"User name":{"type":"string"},"Email":{"type":"string"},"User status":{"type":"string","enum":["A","D","R"]},"Protocol":{"type":"string","enum":["web","SFTP"]},"Payload":{"type":"object","format":"json","description":"other information(share id, files, etc)"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/tracking/files/{id}":{"get":{"summary":"Share action files","description":"List share action files\n","tags":["ActivityLog"],"parameters":[{"in":"path","description":"Share action ID","name":"id","type":"string","format":"uuid","required":true}],"responses":{"200":{"description":"List of share files","schema":{"title":"TrackingFilesResp","type":"array","items":{"title":"TrackingFilesRespItems","type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"size":{"type":"number"},"type":{"type":"string"},"downloads":{"type":"number"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/tracking/downloads/{id}":{"get":{"summary":"Share action file downloads","description":"List share action file downloads\n","tags":["ActivityLog"],"parameters":[{"in":"path","description":"Shared file ID","name":"id","type":"string","format":"uuid","required":true}],"responses":{"200":{"description":"List of share file downloads","schema":{"title":"TrackingDownloadsResp","type":"array","items":{"title":"TrackingDownloadsRespItems","type":"object","properties":{"ip":{"type":"string"},"name":{"type":"string"},"size":{"type":"number"},"duration":{"type":"number"},"time":{"type":"number"},"recipient":{"type":"string"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/tracking/":{"get":{"summary":"List share actions","description":"List share actions\n","tags":["Share"],"parameters":[{"in":"query","description":"Share date timestamp","name":"date","type":"number","required":false}],"responses":{"200":{"description":"List of shares","schema":{"title":"TrackingResp","type":"array","items":{"title":"TrackingRespItems","type":"object","properties":{"id":{"type":"string","format":"uuid"},"subject":{"type":"string"},"type":{"type":"string"},"is_reply":{"type":"boolean"},"release_date":{"type":"number"},"expire_date":{"type":"number"},"created":{"type":"number"},"status":{"type":"string"},"email":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"owner_id":{"type":"string"},"is_request":{"type":"boolean"},"can_reply":{"type":"boolean"},"folder":{"type":"string"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/tracking/{id}":{"get":{"summary":"List share actions","description":"List share actions\n","tags":["Share"],"parameters":[{"in":"path","description":"User id","name":"id","type":"string","required":true},{"in":"query","description":"Share date timestamp","name":"date","type":"number","required":false}],"responses":{"200":{"description":"List of shares","schema":{"title":"TrackingIdResp","type":"array","items":{"title":"TrackingIdRespItems","type":"object","properties":{"id":{"type":"string","format":"uuid"},"subject":{"type":"string"},"type":{"type":"string"},"is_reply":{"type":"boolean"},"release_date":{"type":"number"},"expire_date":{"type":"number"},"created":{"type":"number"},"status":{"type":"string"},"email":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"owner_id":{"type":"string"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/files-return/send":{"post":{"summary":"Send return files share","description":"Create and send return files share\n","tags":["Share"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"FilesReturnSendReq","type":"object","required":["id","files"],"properties":{"id":{"type":"string"},"files":{"type":"array","items":{"type":"string","format":"uuid"}},"message":{"type":"string"}}}}],"responses":{"202":{"description":"Job id","schema":{"$ref":"#/definitions/JobResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/files-return/metadata/{id}":{"get":{"summary":"Get return files metadata","description":"Get return files metadata\n","tags":["Share"],"parameters":[{"in":"path","description":"Share action ID","name":"id","type":"string","format":"uuid","required":true}],"responses":{"200":{"description":"Share metadata","schema":{"title":"FilesReturnMetadataResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"subject":{"type":"string"},"sender_name":{"type":"string"},"sender_key":{"type":"string"},"sender_email":{"type":"string"},"user_name":{"type":"string"},"user_email":{"type":"string"},"locale":{"type":"string"},"return_pgp_encrypted":{"type":"boolean"},"title":{"type":"string"},"pgp_enabled":{"type":"boolean"},"share_type":{"type":"string"},"folder_id":{"type":"string"},"activates":{"type":"number"},"expires":{"type":"number"},"files_per_share":{"type":"number"},"message":{"type":"string"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/files-return/upload-link/{id}":{"post":{"summary":"Get return files upload link","description":"Get return files upload link\n","tags":["Share"],"parameters":[{"in":"path","name":"id","required":true,"type":"string","description":"Share action ID"},{"in":"body","name":"body","required":true,"schema":{"title":"FilesReturnUploadLinkReq","type":"object","required":["parent_id"],"properties":{"parent_id":{"type":"string","format":"uuid"},"file_size":{"type":"number"}}}}],"responses":{"200":{"description":"File upload info","schema":{"title":"FilesReturnUploadLinkResp","type":"object","properties":{"file_id":{"type":"string","format":"uuid"},"upload_key":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/files-return/makedir/{id}":{"post":{"summary":"Return files makedir","description":"Create folder via return files\n","tags":["Share"],"parameters":[{"in":"path","name":"id","required":true,"type":"string","description":"Share action ID"},{"in":"body","name":"body","required":true,"schema":{"title":"FilesReturnMakedirReq","type":"object","required":["name"],"properties":{"name":{"type":"string"},"parent_id":{"type":"string","format":"uuid"}}}}],"responses":{"201":{"description":"Folder metadata","schema":{"title":"FilesReturnMakedirResps","type":"object","properties":{"id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"modified":{"type":"number"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/share/download-info/{id}":{"get":{"summary":"Share download info","description":"Get share download info\n","tags":["Share"],"parameters":[{"in":"path","description":"Share action ID","name":"id","type":"string","format":"uuid","required":true}],"responses":{"200":{"description":"Share download info","schema":{"title":"ShareDownloadInfoResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"message":{"type":"string"},"subject":{"type":"string"},"activates":{"type":"number","format":"timestamp"},"expires":{"type":"number","format":"timestamp"},"sender_name":{"type":"string"},"sender_email":{"type":"string"},"user_name":{"type":"string","description":"user name from current session"},"user_email":{"type":"string","description":"user email from current session"},"locale":{"type":"string"},"user_id":{"type":"string","format":"uuid"},"pgp_encrypted":{"type":"boolean","description":"PGP protected share"},"private_key":{"type":"string","description":"for PGP"},"pgp_enabled":{"type":"boolean","description":"Shows that user from current session has PGP key. If True - user will get his private_key."},"status":{"type":"string"},"share_type":{"type":"string","enum":["P","C","T"]},"title":{"type":"string"},"expired":{"type":"boolean"},"is_reply":{"type":"boolean"},"pin_protected":{"type":"boolean"}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/share/files/{id}":{"get":{"summary":"Share files","description":"List share files\n","tags":["Share"],"parameters":[{"in":"path","description":"Share action ID","name":"id","type":"string","format":"uuid","required":true}],"responses":{"200":{"description":"Share download info","schema":{"title":"ShareFilesResp","type":"array","items":{"title":"ShareFilesRespItems","type":"object","properties":{"id":{"type":"string","format":"uuid"},"size":{"type":"number"},"count":{"type":"number"},"name":{"type":"string"},"type":{"type":"string"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/share/download-link/{id}":{"get":{"summary":"Download link","description":"Download link for all files\n","tags":["Share"],"parameters":[{"in":"path","description":"Share action ID","name":"id","type":"string","format":"uuid","required":true}],"responses":{"200":{"description":"All share files download link id","schema":{"$ref":"#/definitions/IdResp"}},"401":{"$ref":"#/responses/Unauthorized"}}},"post":{"summary":"Download link","description":"Download link for selected files\n","tags":["Share"],"parameters":[{"in":"path","description":"Share action ID","name":"id","type":"string","format":"uuid","required":true},{"in":"body","name":"body","required":false,"schema":{"title":"ShareDownloadLinkReq","type":"object","properties":{"files":{"type":"array","items":{"description":"File ID","type":"string","format":"uuid"}}}}}],"responses":{"200":{"description":"Selected share files download link id","schema":{"$ref":"#/definitions/IdResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/share/download/{id}":{"get":{"security":[],"summary":"Download share files","produces":["application/octet-stream"],"description":"Download share files content\n","tags":["Share"],"parameters":[{"in":"path","description":"Download link ID","name":"id","type":"string","format":"uuid","required":true},{"in":"query","description":"File ids","name":"files","type":"array","items":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Share files content"}}}},"/share/revoke/{id}":{"get":{"summary":"Revoke share","description":"Revoke share\n","tags":["Share"],"parameters":[{"in":"path","description":"Share action ID","name":"id","type":"string","format":"uuid","required":true}],"responses":{"200":{"description":"Revoked share action ID","schema":{"$ref":"#/definitions/IdResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/share/preview/{id}":{"get":{"summary":"Preview share file","description":"Preview share file\n","produces":["image/png"],"tags":["Share"],"parameters":[{"in":"path","description":"Share file ID","name":"id","type":"string","format":"uuid","required":true},{"name":"size","in":"query","required":false,"type":"string","enum":["small","large"]}],"responses":{"200":{"description":"File preview data"},"401":{"$ref":"#/responses/Unauthorized"}}}},"/share/request":{"post":{"summary":"Request share","description":"Request share\n","tags":["Share"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"ShareRequestReq","type":"object","properties":{"return_pgp_encrypted":{"type":"boolean"},"send_email":{"type":"boolean"},"ids":{"type":"array","items":{"type":"string","format":"uuid"},"description":"List of recipient ids"},"message":{"type":"string"}}}}],"responses":{"200":{"description":"Return page metadata","schema":{"title":"ShareRequestResp","type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":"string"},"job_id":{"type":"string","format":"uuid"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/share/send-request/{id}":{"post":{"deprecated":true,"summary":"DEPRECATED! Use /share/request instead.","description":"Send share request email\n","tags":["Share"],"parameters":[{"in":"path","description":"Share Request ID","name":"id","type":"string","format":"uuid","required":true},{"in":"body","name":"body","required":false,"schema":{"title":"ShareSendRequestReq","type":"object","properties":{"message":{"type":"string"}}}}],"responses":{"202":{"description":"Job response object","schema":{"$ref":"#/definitions/JobResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/service":{"get":{"summary":"List services","description":"List services\n","tags":["Service"],"responses":{"200":{"description":"List of services","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceResp"}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/service/metadata/{id}":{"get":{"summary":"Service metadata","description":"Get service metadata\n","tags":["Service"],"parameters":[{"in":"path","description":"Service ID","name":"id","type":"string","format":"uuid","required":true}],"responses":{"200":{"description":"Service metadata","schema":{"$ref":"#/definitions/ServiceResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/automation":{"get":{"summary":"List automations","description":"List of all automations\n","tags":["Automation"],"responses":{"200":{"description":"List of automations","schema":{"type":"array","items":{"$ref":"#/definitions/AutomationResp"}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/automation/metadata/{id}":{"get":{"summary":"Automation metadata","description":"Get automation metadata\n","tags":["Automation"],"parameters":[{"in":"path","name":"id","description":"ID of an automation","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Automation metadata","schema":{"$ref":"#/definitions/AutomationResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/automation/create":{"post":{"summary":"Create automation","description":"Create new automation\n","tags":["Automation"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"AutomationCreateReq","type":"object","required":["file_id","action"],"properties":{"file_id":{"type":"string","format":"uuid"},"action":{"type":"string","enum":["autodelete","video_upload"]},"status":{"type":"string","enum":["A","D"]},"options":{"$ref":"#/definitions/AutomationOptions"},"comment":{"type":"string"},"expires":{"type":"number","format":"integer"},"email":{"type":"array","items":{"type":"string"}}}}}],"responses":{"201":{"description":"Automation metadata","schema":{"$ref":"#/definitions/AutomationResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/automation/edit/":{"post":{"summary":"Edit automation","description":"Edit automation\n","tags":["Automation"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"AutomationEditReq","type":"object","required":["ids"],"properties":{"ids":{"type":"array","items":{"type":"string","format":"uuid"}},"action":{"type":"string","enum":["autodelete","video_upload"]},"file_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["A","D"]},"options":{"$ref":"#/definitions/AutomationOptions"},"comment":{"type":"string"},"expires":{"type":"number","format":"integer"},"email":{"type":"array","items":{"type":"string"}}}}}],"responses":{"200":{"description":"Automation metadata","schema":{"type":"array","items":{"$ref":"#/definitions/AutomationResp"}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/automation/delete":{"post":{"summary":"Delete automations","description":"Delete automations\n","tags":["Automation"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/IdsReq"}}],"responses":{"200":{"description":"Deleted IDs","schema":{"title":"AutomationDeleteResp","type":"object","properties":{"ids":{"type":"array","items":{"type":"string","format":"uuid"}}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/inbox":{"get":{"summary":"User`s inbox","description":"User`s shares and file request list\n","tags":["Inbox"],"parameters":[{"name":"id","in":"query","description":"Inbox id","required":false,"type":"string","format":"uuid"},{"name":"limit","description":"Rows per page","in":"query","required":false,"type":"number","minimum":1,"maximum":1000,"default":100},{"name":"from","description":"UTC timestamp","in":"query","required":false,"type":"number","default":0},{"name":"to","description":"UTC timestamp","in":"query","required":false,"type":"number"}],"responses":{"200":{"description":"Activity log list","schema":{"title":"InboxResp","type":"array","items":{"title":"InboxRespItems","type":"object","properties":{"id":{"type":"string","format":"uuid"},"sender_name":{"type":"string","description":"Sender name"},"activates":{"type":"number","format":"integer"},"is_reply":{"type":"boolean"},"replied":{"type":"boolean"},"subject":{"type":"string"},"type":{"type":"string","enum":["P","C","T"]},"file_request":{"type":"boolean"},"expires":{"type":"number","format":"integer"},"protected":{"type":"boolean"}}}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/ssh-key":{"get":{"summary":"List ssh keys","description":"List ssh keys\n","tags":["SSH-Key"],"responses":{"200":{"description":"SSH-Key list","schema":{"type":"array","items":{"$ref":"#/definitions/SshKeyResp"}}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/ssh-key/metadata/{id}":{"get":{"summary":"SSH key metadata","description":"Get SSH key metadata\n","tags":["SSH-Key"],"parameters":[{"in":"path","name":"id","description":"ID of a SSH key","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"SSH key metadata","schema":{"$ref":"#/definitions/SshKeyResp"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/ssh-key/create":{"post":{"summary":"Create SSH key","description":"Create new SSH key\n","tags":["SSH-Key"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"SSHKeyCreateReq","type":"object","required":["caption","key"],"properties":{"caption":{"type":"string","minLength":1,"maxLength":255},"key":{"type":"string","minLength":256,"maxLength":16384},"expires":{"type":"number","format":"integer"}}}}],"responses":{"201":{"description":"SSH key metadata","schema":{"$ref":"#/definitions/SshKeyResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/ssh-key/edit":{"post":{"summary":"Edit SSH key","description":"Edit SSH key\n","tags":["SSH-Key"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"SSHKeyEditReq","type":"object","required":["id"],"properties":{"id":{"type":"string","format":"uuid"},"caption":{"type":"string","minLength":1,"maxLength":255},"status":{"type":"string","enum":["A","D"]},"expires":{"type":"number","format":"integer"}}}}],"responses":{"200":{"description":"SSH key metadata","schema":{"$ref":"#/definitions/SshKeyResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/ssh-key/delete":{"post":{"summary":"Delete SSH key","description":"Delete SSH key\n","tags":["SSH-Key"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"SSHKeyDeleteReq","type":"object","required":["id"],"properties":{"id":{"type":"string","format":"uuid"}}}}],"responses":{"200":{"description":"SSH-Key id","schema":{"$ref":"#/definitions/IdResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/ssh-key/delete/{id}":{"get":{"summary":"Delete SSH key","description":"Delete SSH key\n","tags":["SSH-Key"],"parameters":[{"in":"path","name":"id","description":"ID of a SSH key","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"SSH-Key id","schema":{"$ref":"#/definitions/IdResp"}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/billing/upgrade":{"post":{"summary":"Upgrade","description":"Upgrade\n","tags":["Billing"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"title":"BillingUpgradeReq","type":"object","required":["currency","renewal_period"],"properties":{"qx_max_users":{"type":"number","format":"integer"},"sftp_max_users":{"type":"number","format":"integer"},"currency":{"type":"string","enum":["USD","GBP","EUR"]},"renewal_period":{"type":"string","enum":["1 month","1 year"]},"recurring_renewal":{"type":"boolean"},"package_keys":{"description":"package keys","type":"array","items":{"type":"string"}}}}}],"responses":{"200":{"description":"success response","schema":{"title":"BillingUpgradeResp","type":"object","properties":{"status":{"type":"string","enum":["success","error"]},"upgrade_invoice_id":{"type":"string","format":"uuid"},"invoice_ids":{"type":"array","items":{"type":"string","format":"uuid"}},"error_text":{"type":"string"}}}},"400":{"description":"Parameter Error","schema":{"$ref":"#/definitions/ErrorModel"}},"401":{"$ref":"#/responses/Unauthorized"}}}},"/check/ping":{"get":{"security":[],"summary":"Ping(action)","description":"Ping(action)\n","tags":["Check"],"parameters":[{"name":"api_key","in":"query","description":"API key","required":false,"type":"string"}],"responses":{"200":{"description":"Ping response","schema":{"title":"CheckPingResp","type":"object","properties":{"response":{"type":"string"}}}}}}}},"parameters":{"ContactID":{"in":"path","name":"id","description":"ID of a contact","required":true,"type":"string","format":"uuid"},"FileID":{"in":"path","name":"id","description":"ID of a file","required":true,"type":"string","format":"uuid"},"FileContentFlag":{"in":"query","name":"content","description":"Return content flag","required":false,"type":"number","format":"int","enum":[0,1],"default":1},"WidgetID":{"in":"path","name":"id","description":"ID of a widget","required":true,"type":"string","format":"uuid"}},"responses":{"Unauthorized":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorModel"}}},"definitions":{"SessionLoginResp":{"type":"object","properties":{"session_id":{"type":"string","format":"uuid","description":"New session id"}}},"SessionUnblockCaptchaResp":{"type":"object","properties":{"valid":{"type":"boolean"}}},"IdsReq":{"type":"object","required":["ids"],"properties":{"ids":{"type":"array","items":{"type":"string","format":"uuid","description":"UUID"}}}},"IdResp":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID"}}},"IdsResp":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string","format":"uuid"}}}},"CopyMoveFilesReq":{"type":"object","required":["ids","target"],"properties":{"ids":{"type":"array","items":{"type":"string","format":"uuid"}},"target":{"type":"string","format":"uuid"},"resolve":{"type":"boolean","default":true}}},"FileResp":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"File ID"},"created":{"type":"number","description":"File creation timestamp"},"modified":{"type":"number","description":"File modification timestamp"},"name":{"type":"string","description":"File name"},"parent_id":{"type":"string","format":"uuid","description":"File parent ID"},"size":{"type":"number","format":"int","description":"File size in bytes"},"modified_ms":{"type":"number","format":"timestamp","description":"File modification timestamp"},"type":{"type":"string","description":"File type"},"metadata":{"type":"object","format":"json","description":"File metadata json"},"operations":{"type":"number","format":"int","description":"File operations bitmask"},"sub_type":{"type":"string","description":"File origin info"}}},"FileMetadataGetResp":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"File ID"},"gid":{"type":"number","format":"int","description":"Unix group id"},"uid":{"type":"number","format":"int","description":"Unix user id"},"created":{"type":"number","description":"File creation timestamp"},"modified":{"type":"number","description":"File modification timestamp"},"name":{"type":"string","description":"File name"},"parent_id":{"type":"string","format":"uuid","description":"File parent ID"},"size":{"type":"number","format":"int","description":"File size in bytes"},"type":{"type":"string","description":"File type"},"metadata":{"type":"object","format":"json","description":"File metadata json"},"operations":{"type":"number","format":"int","description":"File operations bitmask"},"sub_type":{"type":"string","description":"File origin info"},"content":{"type":"array","items":{"$ref":"#/definitions/FileResp"}}}},"UserResp":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"home_id":{"type":"string","format":"uuid"},"home_name":{"type":"string"},"super_admin":{"type":"string","enum":["Y","N"]},"name":{"type":"string"},"email":{"type":"string","format":"email"},"status":{"type":"string"},"quota":{"type":"number","format":"integer"},"created":{"type":"number","format":"timestamp"},"modified":{"type":"number","format":"timestamp"},"groups":{"type":"array","items":{"$ref":"#/definitions/Group"}},"user_operations":{"type":"number","format":"integer"},"effective_operations":{"type":"number","format":"integer"},"home_operations":{"type":"number","format":"integer"},"language":{"type":"string"},"storage_id":{"type":"string","format":"uuid"},"has_key":{"type":"boolean"},"services":{"type":"array","items":{"$ref":"#/definitions/ShortUserService"}},"unique_login":{"type":"string"},"readonly":{"type":"boolean"},"auth_methods":{"type":"array","items":{"type":"string"}},"last_login":{"type":"number","format":"timestamp"},"storage_used":{"type":"number","format":"integer"},"forced_auth":{"type":"array","items":{"type":"string"}}}},"ShortUserService":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"service_key":{"type":"string"}}},"ContactResp":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string","format":"email"},"type":{"type":"string"},"status":{"type":"string"},"created":{"type":"integer","format":"timestamp"},"owner_id":{"type":"string","format":"uuid"},"readonly":{"type":"boolean"},"has_key":{"type":"boolean"},"groups":{"type":"array","items":{"$ref":"#/definitions/Group"}}}},"PGPKeyResp":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"created":{"type":"integer","format":"timestamp"},"modified":{"type":"integer","format":"timestamp"},"public":{"type":"string","format":"base64"},"private":{"type":"string","format":"base64"},"email":{"type":"string","format":"email"}}},"JobResp":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"}}},"FileTagResp":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"file_id":{"type":"string","format":"uuid"},"type":{"type":"string"},"value":{"type":"string"}}},"SearchReq":{"type":"object","properties":{"_and":{"type":"array","items":{"$ref":"#/definitions/SearchQuery"}},"_or":{"type":"array","items":{"$ref":"#/definitions/SearchQuery"}}}},"SearchQuery":{"type":"object","properties":{"tag":{"$ref":"#/definitions/TagSearchQueryElement"},"name":{"$ref":"#/definitions/StringSearchQueryElement"},"created":{"$ref":"#/definitions/TimestampSearchQueryElement"},"modified":{"$ref":"#/definitions/TimestampSearchQueryElement"}}},"SearchTag":{"type":"object","properties":{"type":{"type":"string","enum":["text","from","to"]},"value":{"type":"string"}}},"TagSearchQueryElement":{"type":"object","properties":{"_and":{"type":"array","items":{"$ref":"#/definitions/SearchTag"}},"_or":{"type":"array","items":{"$ref":"#/definitions/SearchTag"}}}},"StringSearchQueryElement":{"type":"object","properties":{"_and":{"type":"array","items":{"type":"string"}},"_or":{"type":"array","items":{"type":"string"}}}},"TimestampSearchQueryElement":{"type":"object","properties":{"_and":{"type":"array","items":{"type":"number","format":"timestamp"}},"_or":{"type":"array","items":{"type":"number","format":"timestamp"}}}},"GroupMetadata":{"type":"object","properties":{"is_system":{"type":"boolean"},"translation_id":{"type":"string","format":"uuid"},"visual_order":{"type":"number","format":"integer"}}},"Group":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"metadata":{"$ref":"#/definitions/GroupMetadata"},"name":{"type":"string"}}},"GroupResp":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"parent_name":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"operations":{"type":"number","format":"integer"},"users":{"type":"array","items":{"$ref":"#/definitions/IdName"}},"groups":{"type":"array","items":{"$ref":"#/definitions/IdName"}},"metadata":{"$ref":"#/definitions/GroupMetadata"}}},"IdName":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"}}},"UserPermissionReq":{"type":"object","properties":{"user_id":{"type":"string","format":"uuid"},"operations":{"type":"number","format":"integer"},"notify":{"type":"boolean","default":false}}},"UserPermissionResp":{"type":"object","properties":{"user_id":{"type":"string","format":"uuid"},"operations":{"type":"number","format":"integer"},"owns":{"type":"boolean"},"notify":{"type":"boolean"}}},"SettingsResp":{"type":"object","properties":{"title":{"type":"string"},"bcc":{"type":"array","items":{"type":"string"}},"billing_emails":{"type":"array","items":{"type":"string"}},"email_footer":{"type":"string"},"modified":{"type":"number"},"language":{"type":"string"},"pgp_enabled":{"type":"boolean"},"share_types":{"type":"object"},"virus_scan":{"type":"boolean"}}},"ServiceResp":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"key":{"type":"string"},"base":{"type":"boolean"},"properties":{"type":"object"},"users":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}}},"forced_auth":{"type":"array","items":{"type":"string"}}}},"AutomationResp":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"owner_id":{"type":"string","format":"uuid"},"file_id":{"type":"string","format":"uuid"},"created":{"type":"number","format":"integer"},"modified":{"type":"number","format":"integer"},"status":{"type":"string","enum":["A","D"]},"action":{"type":"string","enum":["autodelete"]},"options":{"$ref":"#/definitions/AutomationOptions"},"email":{"type":"array","items":{"type":"string"}},"file_path":{"type":"string"},"rule_num":{"type":"number","format":"integer"}}},"AutomationOptions":{"type":"object","format":"json","description":"automation metadata json","properties":{"expire":{"type":"number","format":"integer"},"keep_folder_structure":{"type":"boolean"},"protected_folder_ids":{"type":"array","items":{"type":"string","format":"uuid"}},"skip_home_folders":{"type":"boolean"},"skip_shared_folders":{"type":"boolean"},"super_trash":{"type":"boolean"},"oauth_code":{"type":"string"}}},"SshKeyResp":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"caption":{"type":"string"},"fingerprint":{"type":"string"},"modified":{"type":"number","format":"integer"},"expires":{"type":"number","format":"integer"},"status":{"type":"string","enum":["A","D"]}}},"ErrorModel":{"type":"object","required":["code","msg"],"properties":{"msg":{"type":"string","description":"error details"},"code":{"type":"integer","minimum":-1,"maximum":100},"details":{"type":"object","description":"additional information per call"}}}}}