<!-- BEGIN_INCLUDE(quatrix:home-metadata) -->
    <quatrix:home-metadata config-ref="Quatrix" content="#[map-payload:content]" />
<!-- END_INCLUDE(quatrix:home-metadata) -->

<!-- BEGIN_INCLUDE(quatrix:file-metadata) -->
    <quatrix:file-metadata config-ref="Quatrix" fileId="#[map-payload:fileId]" content="#[map-payload:content]" />
<!-- END_INCLUDE(quatrix:file-metadata) -->

<!-- BEGIN_INCLUDE(quatrix:rename-file) -->
    <quatrix:rename-file config-ref="Quatrix" fileId="#[map-payload:fileId]" newFileName="#[map-payload:newFileName]" resolve="#[map-payload:resolve]" />
<!-- END_INCLUDE(quatrix:rename-file) -->

<!-- BEGIN_INCLUDE(quatrix:delete-file) -->
    <quatrix:delete-file config-ref="Quatrix" fileId="#[map-payload:fileId]"  />
<!-- END_INCLUDE(quatrix:delete-file) -->

<!-- BEGIN_INCLUDE(quatrix:download-file) -->
    <quatrix:download-file config-ref="Quatrix" fileId="#[map-payload:fileId]"  />
<!-- END_INCLUDE(quatrix:download-file) -->

<!-- BEGIN_INCLUDE(quatrix:upload-file) -->
    <quatrix:upload-file config-ref="Quatrix" filePath="#[map-payload:filePath]" parentId="#[map-payload:fileId]" fileName="#[map-payload:fileName]" resolve="true" />
<!-- END_INCLUDE(quatrix:upload-file) -->

<!-- BEGIN_INCLUDE(quatrix:copy-file) -->
    <quatrix:copy-file config-ref="Quatrix" fileId="#[map-payload:fileId]" destDir="#[map-payload:destDir]" resolve="true" />
<!-- END_INCLUDE(quatrix:copy-file) -->

<!-- BEGIN_INCLUDE(quatrix:create-dir) -->
    <quatrix:create-dir config-ref="Quatrix" target="#[map-payload:fileId]" dirName="#[map-payload:dirName]" resolve="true" />
<!-- END_INCLUDE(quatrix:create-dir) -->
